[Unit]
Description=Tempest Flask Overlay Server
After=network.target

[Service]
Type=simple
EnvironmentFile=/etc/vistter/config.env
WorkingDirectory=/home/nickd/TempestWeather/overlay
ExecStart=/usr/bin/env python3 flask_overlay_server.py
Restart=on-always
RestartSec=10
StandardOutput=journal
StandardError=journal
SyslogIdentifier=vistter_flask_overlay

[Install]
WantedBy=multi-user.target 
